SymbolTicker #plot {
    min-width: 10;
    max-width: 1fr;
    height: 1fr;
}

SymbolTicker {
    margin: 1;
    padding: 1;
    background: $boost;
}

PortfolioOverview {
    height: 2;
    width: 1fr;
}
PortfolioOverview #symbol {
    min-width: 1fr;
    margin: 5;
    padding: 5;
    
}